<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SimpleServer</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>juniors.server.ext.web.ui.handlers.LoginHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>juniors.server.ext.web.ui.handlers.LogoutHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>regValid</servlet-name>
    <servlet-class>juniors.server.ext.web.ui.validator.RegistrationValidator</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registration</servlet-name>
    <servlet-class>juniors.server.ext.web.ui.handlers.RegistrationHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>switcher</servlet-name>
    <servlet-class>juniors.server.ext.web.ui.handlers.SwitchHandler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>xshell</servlet-name>
  	<servlet-class>juniors.server.ext.web.xshell.WebShell</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>xshell</servlet-name>
  	<url-pattern>/xshell</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/LoginHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/LogoutHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>regValid</servlet-name>
    <url-pattern>/RegistrationValidator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/RegistrationHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>switcher</servlet-name>
    <url-pattern>/SwitchHandler</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>juniors.server.ext.web.listeners.SessionsListener</listener-class>
  </listener>
  <listener>
    <listener-class>juniors.server.ext.web.listeners.RunnerContextListener</listener-class>
  </listener>
  <error-page>
  	<exception-type>java.lang.Throwable</exception-type>
  	<location>/errpages/error.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>
