body {
	background-color: black;
}

div.grInfo {
	width: 450px;
	height: 200px;
	background-color: gray;
	margin-left: 50px;
	margin-top: 20px;
	border: 2px;
	border-color: red;
	color: aqua;
}

img.graphic {
	width: 450px;
	height: 175px;
	border: 2px;
	background-color: white;
}

.lock {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgb(189 183 107);
	opacity: 0.7;
}

.unlock {
	display: none;
}

.windowshow {
	width: 600px;
    height: 250px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -100px;
    background: #ffffff;
    border: 1px;
    border-color: black;
}

.windowhide {
	display: none;
}

div.main {
	margin: 0px;
	width: 100%;
	height: 1000px;
	border: 2px;
	border-color: gray;
	color: white;
	background-color: black;
}

div.head {
	background-color: rgb(70, 100, 70);
	margin: -10px;
	width: 100%;
	height: 25px;
	color: aqua;
	position:fixed;
}

div.close {
	background-color: green;
	width: 25px;
	height: 25px;
	float: right;
	vertical-align: middle;
	text-align: center;
	line-height: 25px;
}

div.close:HOVER {
	background-color: red;
	cursor: pointer;
}

input.xshell {
	background: black; 
	width: 85%; 
	border: 0px;
	color: white;
}


